@font-face {
    font-family: myFontLightSitki;
    src: url('../src/assets/Fonts/Raleway-Regular.woff2');
}

body {
    margin: 0;
    position: relative;
    font-family: myFontLightSitki;
  }
.personalPhoto{
    border-radius: 10%;
    margin-top:2%;
}
.content{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    margin-left: 20%;
    margin-right:20%;
    justify-content: center;
    display: flex; 
    background-color: #92B4EC;
     flex-direction: column; 
    border-radius:50%;
     align-items: center;
}
.information{
    margin-top:2%;
    margin-left: 25%;
    margin-right: 25%;
}
.socialMediaLinks{
    margin-top: 2%;
    background-color: #FFE69A;
    /* justify-content: space-evenly;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: row;
    align-items: center; */
}
.techStack{
    margin-top:2%;
    margin-left: 25%;
    margin-right: 25%;
    background-color:#FFE69A ;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    justify-content: center;
}
html {
    background-color: #FFFFFF;
  }

 
